@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
body {
  background-color: antiquewhite;
}
* {
  padding: 0;
  margin: 0;
}
nav {
  font-family: "Roboto", sans-serif;
}
nav ul {
  color: white;
  display: flex;
  align-items: center;
  list-style: none;
  height: 65px;
  background-color: black;
}
nav ul li {
  padding: 0 12px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
.Logo img {
  width: 48px;
  padding: 0 5px;
}
.Logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}
.container {
  min-height: 65vh;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  width: 75%;
  margin: 23px auto;
  border-radius: 12px;
  padding: 34px;
  background-image: url("/images/Bgt.jpg");
  background-size: 110%;
}
.bottom {
  position: sticky;
  height: 100px;
  background-color: black;
  color: white;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#myProgress {
  width: 60vw;
  cursor: pointer;
}
.icon {
  margin: 14px 0;
  /* cursor: pointer; */
}
.icon i {
  cursor: pointer;
}
.songItem {
  height: 50px;
  display: flex;
  background-color: white;
  color: black;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
}

.songItem img {
  width: 45px;
  margin: 0 23px;
  border-radius: 34px;
}

.timesT {
  margin: 0 23px;
}
.timesT i {
  cursor: pointer;
}
.songItemContainer {
  margin-top: 74px;
}
.songInfo {
  position: absolute;
  display: flex;
  align-items: center;
  left: 3vw;
}
.songInfo img {
  width: 20%;
  height: 20%;
  padding: 0 12px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
